bot_token: ## Your "bot" 😉
owner_id: [<id1>, <id2>, <id3>, ...] ## array of user ids on discord that may use bot commands

overlord:
  <webhook_1>:
    url: <web>
    monitored_channels:
      - <channel_id>
      - <channel_id>
      - <channel_id>
      - <channel_id>

  <webhook_2>:
    url: <web>
    monitored_channels:
      - <channel_id>
      - <channel_id>
      - <channel_id>
      - <channel_id>
